.conditions{
    .wrapper{
        background: #4ba82e;
        color: #fff;
        font-family: $SB;
        padding: 13px 0;
        text-align: center;
    }
    .phone{
        color: #fff;
        text-decoration: none;
    }
}