footer{
    .wrapper{
        background: #e5e5e5;
        margin: 9px auto 0;
        padding: 15px 0 16px 0;
        text-align: center;
    }
    a{
        border-bottom: 1px solid #8c8c8c;
        color: #202020;
        font-size: 65%;
        text-decoration: none;
    }
}