doctype html
html
    head
        title РОЛЬФ ЦЕНТР | Официальный дилер ŠKODA
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(charset="UTF-8")   
        link(rel="stylesheet" type="text/css" href="assets/css/all.min.css")
        link(rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon")
        script(src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
    body  

        //img(src="assets/img/template.png" alt="макет" style="position: absolute; opacity: 0.2; left: 248px; top: 0; z-index: 3;")

        include includes/logo-row 
        include includes/header
        include includes/action
        include includes/menu
        include includes/conditions
        include includes/cars
        include includes/details
        include includes/rolf-info
        include includes/map
        include includes/footer
        
       
        //include includes/video-fixed

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
        //script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js")
        script(src="assets/js/app.min.js")