div.cars
    div.wrapper
        h1 ВЫБЕРИТЕ ВАШ ŠKODA
        div.cars__cars-container
            div.cars__car-block
                img(src="assets/img/car-octavia.png" alt="Октавия")
                h2
                    | ŠKODA Octavia
                    br
                    span  от   
                    | 924&nbsp; 000 руб.
                div.cars__price-button-container
                    div.cars__price 
                        div.cars__price-benefit выгода до:
                        div.cars__price-price 190 000 руб.
                    button.cars__button ПОЛУЧИТЬ
                    div.clear
                div.clear
            div.cars__car-block
                img(src="assets/img/car-rapid.png" alt="Рэпид")
                h2
                    | ŠKODA Rapid
                    br
                    span  от   
                    | 633&nbsp; 000 руб.
                div.cars__price-button-container
                    div.cars__price 
                        div.cars__price-benefit выгода до:
                        div.cars__price-price 160 000 руб.
                    button.cars__button ПОЛУЧИТЬ
                    div.clear
                div.clear
            div.cars__car-block
                img(src="assets/img/car-superb.png" alt="Супер Би")
                h2
                    | New ŠKODA Superb
                    br
                    span  от  
                    | 633&nbsp; 000 руб.
                div.cars__price-button-container
                    div.cars__price 
                        div.cars__price-benefit выгода до:
                        div.cars__price-price 160 000 руб.
                    button.cars__button ПОЛУЧИТЬ
                    div.clear
                div.clear
            div.cars__car-block
                img(src="assets/img/car-yeti.png" alt="Етти")
                h2
                    | ŠKODA Yeti
                    br
                    span  от  
                    | 1&nbsp;049&nbsp;000&nbsp;руб.
                div.cars__price-button-container
                    div.cars__price 
                        div.cars__price-benefit выгода до:
                        div.cars__price-price 260 000 руб.
                    button.cars__button ПОЛУЧИТЬ
                    div.clear
                div.clear
            div.cars__car-block.cars__car-block--plate
                h3 Полные условия предоставления выгод по телефону
                a(href="tel:+88002000000") 8 800 200-00-00
                div Звонок бесплатный!

                
            div.clear