div.conditions
    div.wrapper
        span Узнайте полные условия предложения, программы кредитования и trade-in по бесплатному номеру 
            a.phone(href="tel:+88002000000") 8 800 200-00-00