header
    div.wrapper
        div.green-line
        div.content
            div.column-left
                h3 РОЛЬФ ЦЕНТР
                div Официальный дилер ŠKODA
            div.column-center
                div г.Москва, 2-й Магистральный тупик, 5А
                div.scheme-container
                    img.scheme-img(src="assets/img/marker.png" alt="схема проезда")
                    div.scheme-text Схема проезда
                    div.clear
            div.column-right 
                a(href="tel:+88002000000" class="phone") 8 800 200-00-00
                div Звонок бесплатный
            div.clear