div.map
    div.wrapper
        div.map__plate.map__block
            h3 ŠKODA по выгодной цене
            p 
                | Получите индивидуальное предложение от дилерского центра по бесплатному телефону
                a(href="tel:+88002000000") 8&nbsp;800&nbsp;200-00-00
            div.map__callback Заказать звонок
        div.map__container
            div.map__container-info
                h4 Дилерский центр РОЛЬФ ЦЕНТР
                p 
                    | 2-й Магистральный тупик, 5а 
                    br
                    | Ежедневно с 09:00 до 22:00
                div.map__container-callback Заказать звонок
            div.map__block(id="map")
        div.clear