div.menu
    div.wrapper
        div.menu__links-container
            a(href="#") Контакты
            a(href="#") Почему РОЛЬФ ЦЕНТР
            a(href="#") Получите подарок
            a(href="#") Выберите ŠKODA
            div.clear
        div.eTimer
        div.clear