div.rolf-info
    div.wrapper
        h1 РОЛЬФ  - ОДИН ИЗ КРУПНЕЙШИХ АВТОДИЛЕРОВ РОССИИ
        p Мы следим за предложениями на автомобильном рынке и всегда готовы предложить Вам наиболее выгодные условия при покупке. Индивидуальный подход во всем. Выгодные условия кредитования. Индивидуальные программы страхования от компаний-партнеров. Бонусная накопительная система для постоянных клиентов. Становитесь им и получите экономию на сервисном обслуживании, запасных частях и аксессуарах.
        div.rolf-info__columns-container
            div.col
                h2 НАДЕЖНО
                p РОЛЬФ крупнейшая в России сеть официальных дилерских центров по продаже и обслуживанию автомобилей.
            div.col
                h2 УДОБНО
                p 
                    | Подробно расскажем обо всех нюансах и особенностях автомобилей, подберем оптимальные ценовые решения по бесплатному номеру 
                    a(class="phone" href="tel:+88002000000") 8&nbsp;800&nbsp;200-00-00
            div.col
                h2 ВЫГОДНО
                p Выгодные условия льготного кредитования и страхования. Выгодные программы TRADE-IN.
            div.clear